  /* src/pages/HomePage.css */
.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/background.png'); /* Reemplaza con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
  }
  
  .homepage-header {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
  }
  
  .explore-button {
    background-color: #daa520;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .explore-button:hover {
    background-color: #b8860b;
  }